.home {
  height: 100vh;
  background-color: #fd2549;
  color: #E5E6F1;

  .cardBox {
    cursor: pointer;
    justify-content: center;
    display: flex;
    text-align: center;
    gap: 10px;
    transition: all 0.6s;
    .card {
      border-radius: 5px;
      margin: 200px 0px;
      width: 257px;
      height: 250px;
      border: 3px dotted #000;
      padding: 60px 20px;
    transition: all 0.6s;

      &:hover {
        border: 3px solid #E5E6F1;
        padding-top: 70px ;
        .cardTitle {
          transform: translateY(-10px);
        }
        .card {
          i {
          transform: translateY(5px);
          }
         }
      }
      i {
        font-size: 100px;
        transform: translateY(0px);
        transition: 0.6s ease;
        margin-bottom: 40px;
      }
      .cardTitle {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2px;
        transform: translateY(0px);
        transition: all 0.5s;
      }
    }
  }
}
